<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAT-qc7eivcXAvX1XA78rLOu9-FE-2kc4I</string>
	<key>GCM_SENDER_ID</key>
	<string>427865671717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PUCPR.Trabalho-de-ios</string>
	<key>PROJECT_ID</key>
	<string>ios-work-pucpr</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-work-pucpr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427865671717:ios:b8228dbb9ed7c0f8d857cc</string>
</dict>
</plist>